{% extends 'shop/basic.html' %}
{% block title%}title of the block{% endblock %}
{% block css %} {% endblock %}
{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 my-3">MY AWESOME CART</h1>
        <p class="lead" style="font-style: oblique;">My Awesome Cart, Inc. is an American multinational conglomerate which focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence. It is one of the Big Five companies in the U.S. information technology industry, along with Google, Apple, Microsoft, and Facebook.</p>
    </div>
</div>
{% endblock %}